html {
  background: #f4f4f4;
  font-family: 'Helvetica Neu', sans-serif;
}

.panel-modern {
  width: 365px;
  height: 180px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
  text-align:left;
  border-radius: 15px;
  display: block;
  padding: 10px;
  box-shadow: 2px 2px 40px -12px #999;
  font-family: "Helvetica";
  color: #666;
  position: relative;
}

.panel-modernCreative {
  width: 300px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 2.5%;
  overflow: hidden;
  text-align:left;
  border-radius: 15px;
  display: block;
  padding: 10px;
  box-shadow: 2px 2px 40px -12px #999;
  font-family: "Helvetica";
  color: #666;
  position: fixed;
  float: left;
}

.panel-modernStory {
  width: 800px;
  background-color: white;
  margin: 0 auto;
  margin-top: 25px;
  margin-right: 2.5%;
  overflow: hidden;
  text-align:left;
  border-radius: 15px;
  display: block;
  padding: 10px;
  box-shadow: 2px 2px 40px -12px #999;
  font-family: "Helvetica";
  color: #666;
  position: relative;
  float: right;
  display: block;
}

.panel-modernStory2 {
  width: 800px;
  background-color: white;
  margin: 0 auto;
  margin-top: 25px;
  margin-right: 2.5%;
  overflow: hidden;
  text-align:left;
  border-radius: 15px;
  display: block;
  padding: 10px;
  box-shadow: 2px 2px 40px -12px #999;
  font-family: "Helvetica";
  color: #666;
  position: relative;
  float: right;
}

.panel-additional {
  width: 200px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  background:linear-gradient(90deg,#cb76d6, #9100ff) !important;
  text-align: center;
  display: block;
  border-radius: 15px;
  padding: 10px;
  font-family: "Helvetica";
  color: white;
}

.coming-soon {
  width: 349px;
  height: 425px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 140px;
  text-align: center;
  font-size: 50px;
  border-radius: 7.5%;
}

.panel-img {
  width: 60px;
  height: 60px;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 702.5px;
  height: 30px;
  margin-top: 25px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  text-align: center;
  border-radius: 18px;
  display: block;
  padding: 10px;
  box-shadow: 2px 2px 40px -12px #999;
  font-family: "Helvetica";
  color: #666;
  margin: 0 auto;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

li {
  float: left;
}

a {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-radius: 13px;
  font-family: Helvetica;
  font-weight: bold;
}

a:hover {
  background: #b5f7fb;
  transition: 0.6s;
}

li a { text-decoration: none; color:#000; }
li a:visited { text-decoration: none; color:#000; }
li a:hover { text-decoration: none; color:#000; }
li a:focus { text-decoration: none; color:#000; }
li a:hover, .nav:active { text-decoration: none; color:#000; }
