html {
  background: #f4f4f4;
  font-family: 'Helvetica Neu', sans-serif;
}

#countdown{
	width: 465px;
	height: 112px;
	text-align: center;
  background: white;
	background-image: white;
	border-radius: 25px;
  box-shadow: 2px 2px 40px -12px #999;
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
  background: white;
	background-image: white;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
  background: white;
  background-image: white;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
  color: #888888;
	background-color: #e6e0e0;
	border-radius: 15px;
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
}


#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}


.header{
  font-weight: 1000;
  letter-spacing: 6;
  font-size: 40px;
  text-align: center;
  margin-top: 120px;
}
